<html>
<head>
	<title>
		My First Blog
	</title>
	{% block headCss %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css')}}" type="text/css">
	{% endblock %}
</head>
	<body class="body">
		<h2>Welcome to your blog</h2>
		<form class="form-border" action="/add_post" method="POST">
			<div class="title wrapper">
				<input id="input-title" type="text" name="title" placeholder="Title"></input>
			</div>

			<div class="title wrapper">
				<textarea id="input-post" name="post"></textarea>
			</div>
			<div  class="description wrapper">
				<input type="submit" id="input-submit" value="POST"></input>
			</div>
		</form>

		{% for post in posts %}
			<div class="blog-border">
				<div class="title">
					<div> {{ post.title }} </div>
				</div>
				<div class="post">
					<div> {{ post.post }} </div>
				</div>
		  	</div>
		{% endfor %}
	
	</body>

</html>





